@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1220px) and (min-width: 1140px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 1140px) and (min-width: 960px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    padding: 0 16px;
    flex-direction: column;
  }
}

section#hero {
  min-height: 666px;
}
section#hero .container {
  justify-content: space-between;
}
section#hero .container div.hero-one {
  max-width: 592px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
section#hero .container div.hero-one p {
  max-width: 487px;
  color: #FFF9E9;
  text-align: start;
  font-size: 1.25rem;
}
section#hero .container div.hero-one h1 > span {
  color: #00DD7D;
}
section#hero .container div.hero-one .btn {
  margin-top: 24px;
}
section#hero .container div.hero-one .g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(195, 255, 212, 0.8) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 65%;
  height: 23%;
  top: 19%;
  left: -19%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
  z-index: -1;
  filter: blur(145px);
}
section#hero .container .image-hero img {
  max-width: none;
}

main section#one {
  background: #0D2616;
  padding: 134px 0;
}
main section#one .container {
  justify-content: space-between;
}
main section#one .container .wrapper {
  width: 100%;
}
main section#one .container .wrapper .one-div2-mobile {
  display: none;
}
main section#one .container .wrapper .one-div1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main section#one .container .wrapper .one-div1 h3 {
  max-width: 592px;
}
main section#one .container .wrapper .one-div1 h3 span {
  color: #00DD7D;
}
main section#one .container .wrapper .one-div1 p {
  max-width: 488px;
  font-size: 1.125rem;
  color: #FFF9E9;
  opacity: 70%;
  text-align: start;
}
main section#one .container .wrapper .one-div1 .--wrapper-p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}
main section#one .container .wrapper .one-div1 .--wrapper-p a {
  font-size: 1rem;
  color: #00DD7D;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
main section#one .container .wrapper .one-div1 .--wrapper-p a:hover {
  border-bottom: 2px solid #016624;
}
main section#one .container .wrapper .one-div2 {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
main section#two {
  padding: 134px 0;
}
main section#two .container {
  flex-direction: column;
  justify-content: space-between;
}
main section#two .container h2 {
  max-width: 444px;
  text-align: center;
  margin-bottom: 32px;
}
main section#two .container p.subtitle {
  max-width: 634px;
  text-align: center;
  color: #B5B9A8;
  margin-bottom: 48px;
  font-size: 1.25rem;
}
main section#two .container p.subtitle span {
  color: #00DD7D;
  font-weight: bold;
}
main section#two .container .wrapper-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#two .container .wrapper-cards .wrapper-card {
  min-width: 334px;
  max-width: 384px;
  min-height: 519px;
  border-radius: 12px;
  background-color: #0D2616;
}
main section#two .container .wrapper-cards .wrapper-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #FFF9E9;
}
main section#two .container .wrapper-cards .wrapper-card .card-p {
  margin-top: 16px;
  text-align: center;
  color: #B5B9A8;
  font-size: 1rem;
}
main section#two .container .wrapper-cards .wrapper-card .card-footer {
  padding: 0 8px;
  display: block;
  text-align: center;
}
main section#three {
  padding: 134px 0;
}
main section#three .container {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
main section#three .container h3 {
  max-width: 656px;
  margin-bottom: 36px;
}
main section#three .container h3 span {
  color: #00DD7D;
}
main section#three .container p.subtitle {
  max-width: 596px;
  font-size: 1.125rem;
  color: #B5B9A8;
  margin-bottom: 80px;
}
main section#three .container .wrapper {
  /* Estilização do accordion */
  /* Rotaciona a seta quando aberto */
  /* Animação de fade-in */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#three .container .wrapper .fade-out {
  opacity: 0;
}
main section#three .container .wrapper .icons-three .icon {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
main section#three .container .wrapper .icons-three .icon[data-channel=whatsapp]:hover {
  background-color: #016624;
}
main section#three .container .wrapper .icons-three .icon[data-channel=instagram]:hover {
  background-color: #B937AA;
}
main section#three .container .wrapper .icons-three .icon[data-channel=instagram]:hover path {
  fill: #fff;
}
main section#three .container .wrapper .icons-three .icon[data-channel=facebook]:hover {
  background-color: #7D4AFF;
}
main section#three .container .wrapper .icons-three .icon[data-channel=telegram]:hover {
  background-color: #34AADF;
}
main section#three .container .wrapper .icons-three .icon[data-channel=telegram]:hover path {
  fill: #fff;
}
main section#three .container .wrapper .icons-three .icon[data-channel=email]:hover {
  background-color: #B042C9;
}
main section#three .container .wrapper .icons-three .icon[data-channel=email]:hover path {
  fill: #fff;
}
main section#three .container .wrapper .icons-three .icon[data-channel=website]:hover {
  background-color: #13CCC0;
}
main section#three .container .wrapper .icons-three .icon[data-channel=website]:hover path {
  fill: #fff;
}
main section#three .container .wrapper .icons-three .icon[data-channel=sms]:hover {
  background-color: #C3C53A;
}
main section#three .container .wrapper .icons-three .icon[data-channel=sms]:hover path {
  fill: #fff;
}
main section#three .container .wrapper .icons-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
main section#three .container .wrapper .icons-three img {
  padding: 12px;
  cursor: pointer;
  transition: background ease 0.2s;
  border-radius: 12px;
  transition: opacity 0.3s ease;
}
main section#three .container .wrapper .icons-three img:hover {
  background: #016624;
}
main section#three .container .wrapper .icons-three svg {
  width: 45px;
  height: 45px;
  padding: 12px;
  cursor: pointer;
  transition: background ease 0.2s;
  border-radius: 12px;
  transition: opacity 0.3s ease;
}
main section#three .container .wrapper .icons-three svg:hover {
  background: #016624;
}
main section#three .container .wrapper .img-three {
  position: relative;
}
main section#three .container .wrapper .img-three::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 24px;
  width: 440px;
  height: 356px;
  background: #193022;
  border-radius: 12px;
  z-index: -1;
}
main section#three .container .wrapper .faq-accordion {
  display: none !important;
}
main section#three .container .wrapper .faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
main section#three .container .wrapper .faq-item {
  border-radius: 6px;
  overflow: hidden;
  background: #0D2616;
  width: 100%;
  transition: background 0.3s ease;
}
main section#three .container .wrapper .faq-question {
  color: #FFF9E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  font-weight: 400;
}
main section#three .container .wrapper .faq-question .faq-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
main section#three .container .wrapper .faq-question .faq-arrow {
  transition: transform 0.3s ease;
}
main section#three .container .wrapper .faq-item[open] .faq-arrow {
  transform: rotate(-180deg);
}
main section#three .container .wrapper .faq-answer {
  text-align: start;
  padding: 12px;
  animation: fadeIn 0.3s ease;
  background: transparent;
}
main section#three .container .wrapper .faq-answer p:nth-child(1) {
  text-align: start;
}
main section#three .container .wrapper .faq-answer p {
  color: #FFF9E9;
  font-size: 1rem;
  margin-bottom: 18px;
}
main section#three .container .wrapper .faq-answer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}
main section#three .container .wrapper .faq-answer li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  gap: 8px;
  color: rgba(181, 185, 168, 0.8549019608);
}
main section#three .container .wrapper .faq-answer li img {
  width: 32px;
  height: 32px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
main section#three .container .wrapper .wrapper-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main section#three .container .wrapper .wrapper-items .title {
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 24px;
  max-width: 571px;
  color: #FFF9E9;
}
main section#three .container .wrapper .wrapper-items .subtitle {
  text-align: start;
  color: #B5B9A8;
  margin-top: 24px;
  max-width: 571px;
  margin-bottom: 48px;
}
main section#three .container .wrapper .wrapper-items .items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
main section#three .container .wrapper .wrapper-items .items-container .item {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 280px;
  gap: 16px;
}
main section#three .container .wrapper .wrapper-items .items-container .item p {
  text-align: start;
  font-size: 1rem;
  color: #B5B9A8;
}
main section#three .container .wrapper .wrapper-items .items-container .item img {
  margin-top: 4px;
}
main section#four {
  padding: 36px 0;
}
main section#four .container {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
main section#four .container .img-mobile {
  display: none;
}
main section#four .container .container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: start;
}
main section#four .container .container-title h3 {
  max-width: 592px;
}
main section#four .container .container-title h3 span {
  color: #00DD7D;
}
main section#four .container .container-title p {
  max-width: 488px;
  color: #B5B9A8;
  font-size: 1.125rem;
}
main section#four .container .items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
main section#four .container .items-container .item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 280px;
  gap: 16px;
}
main section#four .container .items-container .item p {
  text-align: start;
  font-size: 1rem;
  color: #B5B9A8;
}
main section#four .container .items-container .item img {
  margin-top: 4px;
}
main section#five {
  padding: 134px 0;
}
main section#five .container {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
main section#five .container .blur-wrapper .g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(195, 255, 212, 0.8) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 86%;
  height: 87%;
  top: 4%;
  left: 6%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 0.3;
  filter: blur(30px);
  border-radius: 50%;
}
main section#five .container h3 {
  max-width: 322px;
  margin-bottom: 32px;
}
main section#five .container h3 span {
  color: #00DD7D;
}
main section#five .container p {
  max-width: 592px;
  color: #B5B9A8;
  font-size: 1.125rem;
}
main section#five .container .items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
main section#five .container .items-container .item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 280px;
  gap: 16px;
}
main section#five .container .items-container .item p {
  text-align: start;
  font-size: 1rem;
  color: #B5B9A8;
}
main section#five .container .items-container .item img {
  margin-top: 4px;
}
main section#six {
  padding: 134px 0;
}
main section#six .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#six .container .img-mobile {
  display: none;
}
main section#six .container .wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
main section#six .container .wrapper .wrapper-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main section#six .container .wrapper .wrapper-items .title {
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  max-width: 596px;
  color: #FFF9E9;
}
main section#six .container .wrapper .wrapper-items .title span {
  color: #00DD7D;
}
main section#six .container .wrapper .wrapper-items .subtitle {
  font-size: 1.125rem;
  text-align: start;
  color: #B5B9A8;
  max-width: 571px;
  margin-top: 40px;
  margin-bottom: 56px;
}
main section#six .container .wrapper .wrapper-items .items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
main section#six .container .wrapper .wrapper-items .items-container .item {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 280px;
  gap: 16px;
}
main section#six .container .wrapper .wrapper-items .items-container .item p {
  text-align: start;
  font-size: 1rem;
  color: #B5B9A8;
}
main section#six .container .wrapper .wrapper-items .items-container .item img {
  margin-top: 4px;
}
main section#seven {
  padding: 134px 0;
}
main section#seven .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#seven .container .wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
main section#seven .container .wrapper .wrapper-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main section#seven .container .wrapper .wrapper-items .title {
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  max-width: 596px;
  color: #FFF9E9;
}
main section#seven .container .wrapper .wrapper-items .title span {
  color: #00DD7D;
}
main section#seven .container .wrapper .wrapper-items .subtitle {
  font-size: 1.125rem;
  text-align: start;
  color: #B5B9A8;
  max-width: 571px;
  margin-top: 40px;
  margin-bottom: 56px;
}
main section#seven .container .wrapper .wrapper-items .items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
main section#seven .container .wrapper .wrapper-items .items-container .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 280px;
  gap: 16px;
}
main section#seven .container .wrapper .wrapper-items .items-container .item div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
main section#seven .container .wrapper .wrapper-items .items-container .item div:nth-child(1) p {
  color: #00DD7D;
  font-weight: bold;
  font-size: 1rem;
}
main section#seven .container .wrapper .wrapper-items .items-container .item p {
  text-align: start;
  font-size: 1rem;
  color: #B5B9A8;
}
main section#seven .container .wrapper .wrapper-items .items-container .item img {
  margin-top: 4px;
}
main section#eight {
  padding: 134px 0;
}
main section#eight .container {
  justify-content: space-between;
}
main section#eight .container div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#eight .container div:nth-child(1) p.subtitle {
  max-width: 488px;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 1.125rem;
  text-align: start;
  color: #B5B9A8;
}
main section#eight .container div:nth-child(1) h3 > span {
  max-width: 488px;
  color: #00DD7D;
}
main section#eight .container .img-eight {
  position: relative;
}
main section#eight .container .img-eight .img-balon {
  position: absolute;
  top: 180px;
  left: -75px;
}
main section#nine {
  padding: 80px 0;
  background-image: url("../../assets/images/arte7-desktop.png");
  background-position: center center;
}
main section#nine .container {
  flex-direction: column;
  justify-content: space-between;
}
main section#nine .container p.subtitle {
  margin-top: 32px;
  margin-bottom: 40px;
  font-size: 1.25rem;
  max-width: 438px;
  text-align: center;
  color: #B5B9A8;
}

@media screen and (max-width: 960px) {
  p {
    font-size: 16px !important;
  }
  p.title {
    font-size: 2rem !important;
  }
  section#hero .container {
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  section#hero .container .btn {
    min-width: 100%;
  }
  section#hero .container .hero-one {
    padding-bottom: 56px;
  }
  section#hero .container .hero-one p {
    text-align: start;
  }
  section#hero .container .image-hero img {
    max-width: 100%;
  }
  main section#one {
    padding: 64px 0;
  }
  main section#one .container .wrapper .one-div1 {
    flex-direction: column;
  }
  main section#one .container .wrapper .one-div1 h3 {
    margin-bottom: 24px;
  }
  main section#one .container .wrapper .one-div1 .--wrapper-p p {
    text-align: start;
  }
  main section#one .container .wrapper .one-div2-mobile {
    display: block;
  }
  main section#one .container .wrapper .one-div2 {
    display: none;
  }
  main section#two {
    padding: 64px 0;
  }
  main section#two .container .wrapper-cards {
    flex-direction: column;
    gap: 32px;
  }
  main section#two .container .wrapper-cards p.card-text {
    font-size: 14px !important;
  }
  main section#two .container .wrapper-cards p.card-title {
    font-size: 1.5rem !important;
  }
  main section#three {
    padding: 64px 0;
  }
  main section#three .container p.subtitle {
    margin-bottom: 40px;
  }
  main section#three .container .wrapper .wrapper-items, main section#three .container .wrapper .img-three,
  main section#three .container .wrapper .icons-three {
    display: none;
  }
  main section#three .container .wrapper .faq-accordion {
    display: flex !important;
  }
  main section#four {
    padding: 0;
  }
  main section#four .container .img-desktop {
    display: none;
  }
  main section#four .container .img-mobile {
    display: block;
  }
  main section#four .container .container-title {
    flex-direction: column;
  }
  main section#four .container .container-title h3 {
    margin-bottom: 24px;
  }
  main section#four .container .container-title p {
    text-align: start;
  }
  main section#four .container .items-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  main section#four .container .items-container .item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  main section#four .container .items-container .item img {
    margin: 0;
    width: 32px;
    height: 32px;
  }
  main section#five {
    padding: 134px 0 64px 0;
  }
  main section#five .container .blur-wrapper .g1 {
    height: 100%;
    top: -36%;
    opacity: 0.2;
  }
  main section#five .container h3 {
    margin-top: 14px;
    max-width: 302px;
    margin-bottom: 32px;
    font-size: 1.938rem;
  }
  main section#five .container h3 span {
    color: #00DD7D;
  }
  main section#five .container .items-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  main section#five .container .items-container .item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  main section#five .container .items-container .item img {
    margin: 0;
    width: 32px;
    height: 32px;
  }
  main section#six {
    padding: 64px 0;
  }
  main section#six .container {
    flex-direction: column-reverse;
  }
  main section#six .container .img-desktop {
    display: none;
  }
  main section#six .container .img-mobile {
    margin-top: 40px;
    display: block;
  }
  main section#six .container .wrapper .wrapper-items .title {
    color: #FFF9E9;
  }
  main section#six .container .wrapper .wrapper-items .subtitle {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  main section#six .container .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  main section#six .container .items-container .item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  main section#six .container .items-container .item img {
    margin: 0;
    width: 32px;
    height: 32px;
  }
  main section#seven {
    padding: 64px 0;
  }
  main section#seven .container .wrapper .wrapper-items .title {
    color: #FFF9E9;
  }
  main section#seven .container .wrapper .wrapper-items .subtitle {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  main section#seven .container .wrapper .wrapper-items .items-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  main section#seven .container .img-seven {
    margin-top: 40px;
  }
  main section#eight {
    padding: 64px 0;
  }
  main section#eight .container {
    flex-direction: column-reverse;
  }
  main section#eight .container h3 {
    font-size: 2rem;
  }
  main section#eight .container .btn {
    min-width: 100%;
  }
  main section#eight .container .img-eight {
    margin-bottom: 56px;
    position: relative;
  }
  main section#eight .container .img-eight .img-balon {
    top: 190px;
    left: 15px;
    width: 240px;
  }
  main section#nine .container h2 {
    font-size: 2rem;
  }
  main section#nine .container p.subtitle {
    font-size: 1.125rem;
  }
  main section#nine .container .btn {
    min-width: 100%;
  }
  footer#footer {
    min-height: 430px;
  }
  footer#footer .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  footer#footer .container .footer-logo {
    flex-direction: column;
    gap: 16px;
  }
}
h1 {
  color: #FFF9E9;
  font-family: "Inter", sans-serif;
  font-size: 3.5rem;
  line-height: 120%;
  font-weight: bold;
  letter-spacing: 0;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.125rem;
    line-height: 110%;
    letter-spacing: 0;
  }
}

h2 {
  color: #FFF9E9;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 2.125rem;
    line-height: 120%;
  }
}

h3 {
  color: #FFF9E9;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Inter", sans-serif;
    font-size: 1.688rem;
    line-height: 120%;
    letter-spacing: 0;
  }
}

h4 {
  color: #016624;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 150%;
  }
}

h5 {
  color: #FFF9E9;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #FFF9E9;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  p {
    font-size: 1.125rem;
    line-height: 150%;
  }
}

a {
  font-family: "Inter", sans-serif;
  color: #FFF9E9;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  a {
    font-size: 1.125rem;
    line-height: 150%;
  }
}

strong {
  color: #161617;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  strong {
    font-size: 1.125rem;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
}

.text-align {
  text-align: center;
}

.pricing-page section.pricing-hero {
  overflow: hidden;
  padding: 96px 0;
  text-align: center;
}
.pricing-page section.pricing-hero .container {
  flex-direction: column;
  position: relative;
}
.pricing-page section.pricing-hero .container .g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(195, 255, 212, 0.8) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 65%;
  height: 23%;
  top: 19%;
  left: -19%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
  z-index: -1;
  filter: blur(145px);
}
.pricing-page section.pricing-hero .container .g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(195, 255, 212, 0.8) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 65%;
  height: 23%;
  top: 80%;
  left: 18%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
  z-index: -1;
  filter: blur(145px);
}
.pricing-page section.pricing-hero .container .g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(195, 255, 212, 0.8) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 65%;
  height: 23%;
  top: 19%;
  left: 55%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
  z-index: -1;
  filter: blur(145px);
}
.pricing-page section.pricing-hero .container .pretitle {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #00DD7D;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.pricing-page section.pricing-hero .container .title {
  font-size: 3.5rem;
  max-width: 802px;
}
.pricing-page section.pricing-hero .container .title span {
  color: #00DD7D;
}
.pricing-page section.pricing-hero .container .subtitle {
  font-size: 1.25rem;
  margin-top: 24px;
  margin-bottom: 115px;
  color: #FFF9E9;
  max-width: 802px;
}
.pricing-page section.pricing-hero .container .toggle-pricing {
  display: inline-flex;
  align-items: center;
  border: 1px solid #00DD7D;
  border-radius: 100px;
  padding: 4px;
  position: relative;
  background: #0D2616;
}
.pricing-page section.pricing-hero .container .toggle-pricing .toggle-btn {
  width: 94px;
  height: 40px;
  border: none;
  background: transparent;
  color: #FFF9E9;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}
.pricing-page section.pricing-hero .container .toggle-pricing .toggle-btn.active {
  color: #016624;
  font-size: 1rem;
  font-weight: 700;
  background: #00DD7D;
  border-radius: 100px;
}
.pricing-page section.pricing-hero .container .toggle-pricing .discount-note {
  margin-left: 1rem;
  font-size: 1.25rem;
  color: #FFF9E9;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  position: absolute;
  color: #00DD7D;
  top: -60px;
  left: 109px;
  width: 100%;
  z-index: -1;
}
.pricing-page section.pricing-hero .container .toggle-pricing .discount-note-img {
  position: absolute;
  width: 29px;
  width: 30px;
  width: 55px;
  height: 55px;
  top: -20px;
  left: 229px;
  z-index: -1;
}
.pricing-page section.pricing-cards {
  padding: 96px 16px;
  background: linear-gradient(to bottom, #0D2616 23%, #001A0A 100%);
  /* Rotaciona a seta quando aberto */
}
.pricing-page section.pricing-cards .container .title-mobile {
  display: none;
}
.pricing-page section.pricing-cards .container .card-grid {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 22px;
  width: 100%;
}
.pricing-page section.pricing-cards .container .card-price-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  gap: 32px;
}
.pricing-page section.pricing-cards .container .card-price-title p {
  text-align: start;
}
.pricing-page section.pricing-cards .container .card-price-title img {
  margin: 0;
}
.pricing-page section.pricing-cards .container .plan-wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 22px;
}
.pricing-page section.pricing-cards .container .title {
  font-size: 2rem;
  color: #FFF9E9;
  font-weight: 700;
}
.pricing-page section.pricing-cards .container .plan-card {
  padding: 40px 20px;
  background: #162E1E;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-width: 230px;
  max-width: 280px;
  position: relative;
  background-color: #162E1E;
}
.pricing-page section.pricing-cards .container .plan-card .anual,
.pricing-page section.pricing-cards .container .plan-card .ano {
  display: none;
}
.pricing-page section.pricing-cards .container .plan-card .mes,
.pricing-page section.pricing-cards .container .plan-card .ano {
  text-align: center;
  font-size: 14px;
  margin-bottom: 24px;
  justify-content: center;
}
.pricing-page section.pricing-cards .container .plan-card::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 101%;
  height: 100.4%;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(180deg, #102019, #00e676, #11231B);
}
.pricing-page section.pricing-cards .container .plan-card .btn {
  min-width: 164px;
  max-width: 232px !important;
}
.pricing-page section.pricing-cards .container .plan-card .plan-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pricing-page section.pricing-cards .container .plan-card .plan-card-title img {
  margin: 0;
}
.pricing-page section.pricing-cards .container .plan-card .plan-label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  font-weight: 1.25rem;
  color: #FFF9E9;
  font-weight: 600;
}
.pricing-page section.pricing-cards .container .plan-card .plan-label span {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize !important;
  color: #B5B9A8;
}
.pricing-page section.pricing-cards .container .plan-card .plan-price {
  font-size: 2rem;
  color: #00DD7D;
  font-weight: 700;
  transition: opacity 0.2s;
  position: relative;
  justify-content: center;
  align-items: center;
}
.pricing-page section.pricing-cards .container .plan-card .plan-price::before {
  content: "R$";
  display: inline-block;
  font-size: 1rem;
  vertical-align: 5px;
  margin-right: 8px;
}
.pricing-page section.pricing-cards .container .plan-card .plan-price::after {
  content: ",00";
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: 5px;
  margin-right: 8px;
}
.pricing-page section.pricing-cards .container .plan-card .plan-price span {
  display: block;
  font-size: 0.875rem;
  color: #B5B9A8;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.pricing-page section.pricing-cards .container .plan-card .plan-price.mensal.active,
.pricing-page section.pricing-cards .container .plan-card .plan-price.anual.active {
  opacity: 1;
}
.pricing-page section.pricing-cards .container .plan-card .btn {
  margin-bottom: 1rem;
}
.pricing-page section.pricing-cards .container .plan-card .line-price {
  margin-top: 24px;
  margin-bottom: 32px;
}
.pricing-page section.pricing-cards .container .plan-card .plan-features {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}
.pricing-page section.pricing-cards .container .plan-card .plan-features li {
  margin-bottom: 0.5rem;
  color: #FFF9E9;
  display: flex;
  justify-content: start;
  align-items: center;
}
.pricing-page section.pricing-cards .container .plan-card .plan-features li img {
  margin: 0;
  margin-right: 8px;
}
.pricing-page section.pricing-cards .container .plan-card.recommended::after {
  border-radius: 100px;
  content: "🚀 maior procura";
  position: absolute;
  width: 140px;
  height: 30px;
  top: -12px;
  right: 45px;
  background: #00DD7D;
  border: 2px solid #FFF9E9;
  z-index: 1;
  border: none;
  padding: 8px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: rgba(134, 201, 145, 0.2) 0px 0px 29px 6px;
  font-weight: 500;
}
.pricing-page section.pricing-cards .faq-accordion {
  margin-top: 56px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.pricing-page section.pricing-cards .faq-item {
  border: 1px solid rgba(181, 185, 168, 0.0941176471);
  border-radius: 6px;
  overflow: hidden;
  background: transparent;
  width: 100%;
  border-radius: 12px;
  transition: background 0.3s ease;
}
.pricing-page section.pricing-cards .faq-summary {
  color: #FFF9E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  font-weight: 400;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .anual,
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .ano {
  display: none;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .plan-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .plan-card-title img {
  margin: 0;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .plan-label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  font-weight: 1.25rem;
  color: #FFF9E9;
  font-weight: 600;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .plan-label span {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize !important;
  color: #B5B9A8;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .wrapper-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .wrapper-price .plan-price-mobile-details {
  color: #00DD7D;
  font-weight: 700;
  font-size: 1rem !important;
}
.pricing-page section.pricing-cards .faq-summary .faq-item-icon .wrapper-price .mes, .pricing-page section.pricing-cards .faq-summary .faq-item-icon .wrapper-price .ano {
  font-size: 12px !important;
}
.pricing-page section.pricing-cards .faq-summary .faq-arrow {
  transition: transform 0.3s ease;
}
.pricing-page section.pricing-cards .faq-item[open] .faq-arrow {
  transform: rotate(-180deg);
}
.pricing-page section.pricing-cards .faq-answer {
  text-align: start;
  padding: 12px;
  animation: fadeIn 0.3s ease;
  background: transparent;
}
.pricing-page section.pricing-cards .faq-answer .title-faq {
  font-size: 1.25rem !important;
  font-weight: 700;
  text-align: start;
  margin-top: 48px;
  color: #FFF9E9;
}
.pricing-page section.pricing-cards .faq-answer .faq-wrapper div:last-child li:last-child {
  border-bottom: none;
}
.pricing-page section.pricing-cards .faq-answer ul {
  margin-top: 32px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.pricing-page section.pricing-cards .faq-answer li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #FFF9E9;
  font-size: 1rem;
  border-top: 1px solid rgba(181, 185, 168, 0.0941176471);
  padding: 16px 0;
  font-weight: 400;
}
.pricing-page section.pricing-cards .faq-answer li img {
  margin: 0;
  height: 24px;
  width: 24px;
}
.pricing-page section.pricing-cards .faq-answer li:last-child {
  border-bottom: 1px solid rgba(181, 185, 168, 0.0941176471);
}
.pricing-page .pricing-cards-info {
  position: relative;
  display: none;
  justify-content: end;
  align-items: start;
  max-width: 1220px;
  gap: 16px;
  margin: 0 auto;
  width: 100%;
}
.pricing-page .pricing-cards-info .item-card-plan {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 12px;
  background: #162E1E;
  padding-top: 34px;
  width: 204px;
  height: 112px;
  transition: height 0.3s ease;
}
.pricing-page .pricing-cards-info .item-card-plan .more-btn {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 160px !important;
  min-width: 160px !important;
}
.pricing-page .pricing-cards-info .item-card-plan .more-btn {
  max-width: 160px !important;
}
.pricing-page .pricing-cards-info .item-card-plan:hover {
  height: 170px;
}
.pricing-page .pricing-cards-info .item-card-plan:hover .more-btn {
  display: block;
}
.pricing-page .pricing-cards-info .item-card-plan .plan-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pricing-page .pricing-cards-info .item-card-plan .plan-card-title img {
  margin: 0;
}
.pricing-page .pricing-cards-info .item-card-plan .plan-label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  font-weight: 1.25rem;
  color: #FFF9E9;
  font-weight: 600;
}
.pricing-page .pricing-cards-info .item-card-plan .plan-label span {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize !important;
  color: #B5B9A8;
}
.pricing-page .pricing-cards-info .item-card-plan::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 101%;
  height: 100.4%;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(180deg, #102019, #00e676, #11231B);
}
.pricing-page .pricing-cards-info.fixed {
  position: fixed;
  top: 80px;
  left: -43px;
  right: 0;
  z-index: 1000;
  background: transparent;
}
.pricing-page .features-table {
  padding: 2rem 0;
}
.pricing-page .features-table .container {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.pricing-page .features-table .table-group {
  margin-bottom: 2rem;
}
.pricing-page .features-table .table-group .table-title {
  font-size: 2rem;
  margin-bottom: 46px;
}
.pricing-page .features-table .table-group table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.pricing-page .features-table .table-group table th,
.pricing-page .features-table .table-group table td {
  text-align: center;
  border: 1px solid rgba(181, 185, 168, 0.0941176471);
}
.pricing-page .features-table .table-group table th {
  background: rgb(255, 255, 255);
}
.pricing-page .features-table .table-group table th:first-child {
  border-top-left-radius: 12px;
}
.pricing-page .features-table .table-group table th:last-child {
  border-top-right-radius: 12px;
}
.pricing-page .features-table .table-group table tbody tr:first-child td:first-child {
  border-top-left-radius: 12px;
}
.pricing-page .features-table .table-group table tbody tr:first-child td:last-child {
  border-top-right-radius: 12px;
}
.pricing-page .features-table .table-group table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.pricing-page .features-table .table-group table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.pricing-page .features-table .table-group table td:first-child {
  min-width: 310px;
  height: 80px;
  color: #FFF9E9;
  font-weight: 700;
  text-align: start;
  padding-left: 24px;
}
.pricing-page .features-table .table-group table td.check {
  color: #B5B9A8;
  min-width: 220px;
}
.pricing-page .faq-section {
  padding: 2rem 1rem;
}
.pricing-page .faq-section .container {
  flex-direction: column;
  max-width: 800px;
}
.pricing-page .faq-section .faq-title {
  margin-bottom: 80px;
}
.pricing-page .faq-section .accordion-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pricing-page .faq-section .accordion-item .accordion-header {
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  background: none;
  border: none;
  color: #FFF9E9;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing-page .faq-section .accordion-item .accordion-header .faq-arrow {
  transition: transform 0.3s ease;
}
.pricing-page .faq-section .accordion-item .accordion-header img {
  margin: 0;
}
.pricing-page .faq-section .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  margin-bottom: 16px;
  color: #B5B9A8;
  font-weight: 400;
}
.pricing-page .faq-section .accordion-item.open .accordion-header .faq-arrow {
  transform: rotate(180deg);
}
.pricing-page .faq-section .accordion-item.open .accordion-content {
  max-height: 200px;
  margin-top: 0.5rem;
}

body.anual-active .pricing-hero .pretitle {
  color: #DEE04A !important;
}
body.anual-active .pricing-hero .title span {
  color: #DEE04A !important;
}
body.anual-active .pricing-hero .toggle-pricing {
  border-color: #DEE04A !important;
}
body.anual-active .pricing-hero .toggle-pricing .toggle-btn.active {
  background: #DEE04A !important;
  color: #0D2616 !important;
}
body.anual-active .pricing-hero .toggle-pricing .discount-note {
  color: #DEE04A !important;
}
body.anual-active .pricing-cards .title-mobile {
  color: #DEE04A !important;
}
body.anual-active .pricing-cards .pricing-cards-info .item-card-plan::before {
  background: linear-gradient(180deg, #102019, #DEE04A, #11231B);
}
body.anual-active .pricing-cards .pricing-cards-info .item-card-plan .btn {
  background: #DEE04A !important;
}
body.anual-active .pricing-cards .faq-wrapper .btn {
  background: #DEE04A !important;
}
body.anual-active .pricing-cards .plan-card .plan-price {
  color: #DEE04A !important;
}
body.anual-active .pricing-cards .plan-card::before {
  background: linear-gradient(180deg, #102019, #DEE04A, #11231B) !important;
}
body.anual-active .pricing-cards .plan-card.recommended::after {
  background: #DEE04A !important;
  color: #0D2616;
  box-shadow: rgba(222, 224, 74, 0.2) 0px 0px 29px 6px;
}
body.anual-active .pricing-cards .plan-card .btn {
  background: #DEE04A !important;
}
body.anual-active .pricing-cards .faq-item-icon .wrapper-price .plan-price-mobile-details {
  color: #DEE04A !important;
}
body.anual-active .features-table .table-group table td.check {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .pricing-page section.pricing-hero .container .pretitle {
    font-size: 0.875rem;
  }
  .pricing-page section.pricing-hero .container .g1 {
    background: radial-gradient(circle at center, rgb(195, 255, 212) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
    width: 65%;
    height: 48%;
    top: 77%;
    left: 20%;
  }
  .pricing-page section.pricing-hero .container .g2 {
    background: radial-gradient(circle at center, rgb(195, 255, 212) 0, rgba(108, 181, 129, 0) 50%) no-repeat;
    width: 100%;
    height: 70%;
    top: -10%;
    left: 4%;
  }
  .pricing-page section.pricing-hero .container .g3 {
    display: none;
  }
  .pricing-page section.pricing-hero .container .title {
    font-size: 2.125rem;
  }
  .pricing-page section.pricing-hero .container .toggle-pricing .discount-note {
    left: 66px;
  }
  .pricing-page section.pricing-hero .container .toggle-pricing .discount-note-img {
    left: 200px;
  }
  .pricing-cards .container {
    padding: 0;
  }
  .pricing-cards .container .title-mobile {
    display: block !important;
    color: #00DD7D;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 0.875rem !important;
  }
  .pricing-cards .container .card-grid {
    gap: 0 !important;
    text-align: center;
  }
  .pricing-cards .container .card-grid .card-price-title .title, .pricing-cards .container .card-grid .card-price-title img {
    display: none !important;
  }
  .pricing-cards .faq-accordion {
    display: flex !important;
  }
  .pricing-cards .plan-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    padding: 0 1rem;
    padding: 40px 8px;
  }
  .pricing-cards .plan-card {
    flex: 0 0 80%;
    max-width: 300px;
    margin-bottom: 0;
  }
  .pricing-cards .plan-card .plan-price {
    font-size: 3rem !important;
  }
  .pricing-cards .plan-card .plan-price::before {
    vertical-align: 8px !important;
    margin-right: 8px;
  }
  .pricing-cards .plan-card.recommended::after {
    top: -12px;
    right: 65px !important;
  }
  .features-table {
    display: none;
  }
  .faq-section .container .faq-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}
section.tools-section .container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 120px auto;
}
section.tools-section .container .section-title {
  font-size: 2rem;
  color: #FFF9E9;
  margin-bottom: 80px;
}
section.tools-section .container .card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 2rem;
}
section.tools-section .container .tool-card {
  background-color: #0D2616;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform 0.2s ease;
}
section.tools-section .container .tool-card:hover {
  transform: translateY(-4px);
}
section.tools-section .container .tool-card .card-icon {
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 24px;
}
section.tools-section .container .tool-card .card-title {
  font-size: 1.25rem;
  color: #FFF9E9;
  margin-bottom: 0.5rem;
}
section.tools-section .container .tool-card .card-desc {
  font-size: 1rem;
  color: #B5B9A8;
  margin-bottom: 40px;
  text-align: start;
}
section.tools-section .container .tool-card .card-link {
  font-size: 1rem;
  color: #00DD7D;
  text-decoration: none;
  font-weight: 600;
}
section.tools-section .container .tool-card .card-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  section.tools-section .container .card-grid {
    display: flex;
    flex-direction: column;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00DD7D;
  color: #013B15;
  max-width: 242px;
  min-width: 242px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}
.btn:hover {
  box-shadow: rgba(134, 201, 145, 0.2) 0px 0px 29px 6px;
  border: 1px solid rgba(255, 255, 255, 0.2588235294);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #016624;
  width: 100%;
  height: 55px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  color: #016624;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.link:hover {
  background: #016624;
  color: #FFF9E9;
}

.card-text {
  margin-top: 40px;
  margin-bottom: 8px;
  text-transform: uppercase !important;
  padding: 6px 10px;
  font-size: 14px;
  text-align: center;
  color: #00DD7D;
  font-weight: 700;
  background-color: #016624;
  border-radius: 4px;
  display: inline-block;
}

.mp-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 40px;
}

.m-4 {
  margin: 56px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-4 {
  margin-top: 56px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 40px;
}

.ml-4 {
  margin-left: 56px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 40px;
}

.mr-4 {
  margin-right: 56px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 40px;
}

.mb-4 {
  margin-bottom: 56px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-4 {
  margin-left: 56px;
  margin-right: 56px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-4 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 40px;
}

.p-4 {
  padding: 56px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 40px;
}

.pt-4 {
  padding-top: 56px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 40px;
}

.pl-4 {
  padding-left: 56px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 40px;
}

.pr-4 {
  padding-right: 56px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 40px;
}

.pb-4 {
  padding-bottom: 56px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-4 {
  padding-left: 56px;
  padding-right: 56px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-4 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100dvh;
  position: relative;
  font-family: "Inter", sans-serif;
  background: #001A0A;
}

svg, img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a,
li {
  text-decoration: none;
}

ul {
  list-style: none;
}

.background {
  position: relative;
}
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: #016624;
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: url("../assets/images/background-green-op.png") no-repeat center center;
  opacity: 0.1;
}

.border {
  border: 1px solid red;
}

.header-wrapper {
  position: relative;
  height: 72px;
  z-index: 9;
}

.header-inner {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  transition: background 0.3s ease, box-shadow 0.3s ease, -webkit-backdrop-filter 0.3s ease;
  transition: background 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
  transition: background 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease, -webkit-backdrop-filter 0.3s ease;
  /* gradiente inicial */
  background: linear-gradient(to right, rgb(7, 18, 11) 0%, rgba(13, 38, 22, 0.56) 56%, rgba(13, 38, 22, 0.8) 100%);
}
.header-inner div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.header-inner div.container nav.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-inner div.container nav.nav ul li a {
  font-size: 1rem;
  transition: color ease 0.2s;
}
.header-inner div.container nav.nav ul li a:hover {
  color: #00DD7D;
}
.header-inner div.container nav.nav ul .nav-login-li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #00DD7D;
}

.header-inner.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  /* gradiente escuro + blur + sombra */
  background: linear-gradient(to right, rgba(13, 38, 22, 0) 0%, rgba(13, 38, 22, 0.56) 56%, rgba(13, 38, 22, 0.8) 100%);
  backdrop-filter: blur(42px);
  -webkit-backdrop-filter: blur(42px);
  box-shadow: 0px -31px 120px 4px rgba(33, 39, 29, 0.25);
}

.menu-toggle, .mobile-menu {
  display: none;
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
}

@media screen and (max-width: 960px) {
  .header-inner .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-inner .container .hamburger {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 9;
  }
  .header-inner .container .hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
  }
  .header-inner .container .hamburger span:nth-child(1) {
    top: 0;
  }
  .header-inner .container .hamburger span:nth-child(2) {
    top: 8px;
  }
  .header-inner .container .hamburger span:nth-child(3) {
    top: 16px;
  }
  .header-inner .container nav.nav {
    display: none;
  }
  .header-inner .container .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #001A0A;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
    overflow: hidden;
  }
  .header-inner .container .mobile-menu .mobile-header-nav {
    padding: 16px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-inner .container .mobile-menu .mobile-header-nav .close-menu {
    background: transparent;
    border: none;
  }
  .header-inner .container .mobile-menu .mobile-menu-list .-list-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    width: 100%;
  }
  .header-inner .container .mobile-menu .mobile-menu-list .-list-header li a {
    font-size: 1rem;
  }
  .header-inner .container .mobile-menu .mobile-menu-list .-list-header hr {
    width: 100%;
    opacity: 0.3;
  }
  .header-inner .container .mobile-menu .mobile-menu-list .-list-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-inner .container .mobile-menu ul {
    list-style: none;
    padding: 0 16px;
    margin: 0;
    margin-top: 64px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    height: 70dvh;
  }
  .header-inner .container .mobile-menu ul .open-demo {
    min-width: 266px;
  }
  .header-inner .container .menu-toggle:checked + .hamburger span:nth-child(1) {
    top: 18px;
    transform: rotate(45deg);
  }
  .header-inner .container .menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .header-inner .container .menu-toggle:checked + .hamburger span:nth-child(3) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .header-inner .container .menu-toggle:checked ~ #mobile-menu {
    transform: translateX(0);
  }
}
/* --- Estilos do Dialog --- */
.demo-dialog {
  position: fixed; /* fixa na viewport */
  top: 50%; /* posiciona verticalmente no centro */
  left: 50%; /* posiciona horizontalmente no centro */
  transform: translate(-50%, -50%); /* centraliza de verdade */
  margin: 0; /* remove qualquer margem padrão */
  border: none;
  border-radius: 8px;
  padding: 0;
  width: 90%;
  max-width: 640px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.demo-form {
  width: 100%;
  position: relative;
  padding: 80px 64px;
  background: #001A0A;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p {
  color: #B5B9A8;
  font-size: 1rem;
  text-align: center;
}

.demo-form h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.demo-form label {
  font-size: 1rem;
  font-weight: 400;
  color: #B5B9A8;
}

.demo-form input[type=text],
.demo-form input[type=email] {
  padding: 0.5rem;
  border: 1px solid #616161;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  height: 48px;
  background: #0D2616;
  color: #FFF9E9;
}

label.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: #FFF9E9;
  font-weight: 400;
}
label.checkbox-label input {
  accent-color: #01752A;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.submit-btn {
  margin-top: 0.5rem;
  align-self: center;
  min-width: 100%;
}

/* Botão de fechar */
.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Overlay (browser default) */
::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 960px) {
  .demo-form {
    padding: 64px 16px;
  }
  .demo-form h2 {
    font-size: 22px;
  }
}
footer#footer {
  background: #0A0A0A;
  position: relative;
}
footer#footer .container {
  min-height: 327px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
footer#footer .container ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer#footer .container ul .rede-social-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
footer#footer .container ul li p:nth-child(1) {
  margin-bottom: 12px;
}
footer#footer .container ul li a {
  color: #B5B9A8;
  font-weight: 400;
  font-size: 0.875rem !important;
  text-align: start;
  transition: color ease 0.2s;
}
footer#footer .container ul li a:hover {
  color: #00DD7D !important;
}
footer#footer .container ul li p {
  color: #B5B9A8;
  font-weight: 400;
  font-size: 0.875rem !important;
  text-align: start;
}
footer#footer .container ul li p:nth-child(1) {
  font-size: 0.875rem !important;
  font-weight: 600;
  color: #FFF9E9;
}
footer#footer .container .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
footer#footer .container .footer-logo p {
  font-size: 0.625rem !important;
  color: #B5B9A8;
}
footer#footer::after {
  content: "";
  width: 100%;
  position: absolute;
  background: #00DD7D;
  bottom: 0;
  height: 6px;
}

@media screen and (max-width: 960px) {
  footer#footer {
    min-height: 430px;
  }
  footer#footer .container {
    padding: 24px 16px;
  }
  footer#footer .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  footer#footer .container .footer-logo {
    flex-direction: column;
    gap: 16px;
  }
}/*# sourceMappingURL=styles.css.map */